footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 2rem;
    color: black;
    background-color: whitesmoke;
    border: solid 0.01in #48cc7e;
    background-image: url("IMG/footer.jpg");
    background-size: cover;
    background-clip: inherit;
    height: clip(200px, 40, 500vh);
  }

  @media (max-width: 600px) {
    footer {
      display: flex;
      flex-direction: column;
    }

    .col1 {
      padding-block: 1.5rem;
    }

    .col2 {
      padding-block: 1.5rem;
    }

    .col3 {
      display: none;
    }

    .footer_logo {
      display: grid;
      grid-column: span 4;
    }
  }

  footer li {
    list-style: none;
    line-height: 1.1rem;
    margin-top: 10px;
    text-align: center;
  }

  /* Facebook instagram logo i footer */
  .footer_logo {
    display: flex;
    width: 25%;
    height: 25%;
    height: 25%;
    text-align: center;
    align-items: center;
  }

  /* COPYRIGT CENTRERET */
  .footerp {
    display: grid;
    grid-column: span 4;
    padding-block: 1.5rem;
  }