* {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Familjen Grotesk";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
header {
  background-color: #FCF7E8;
  padding: 10px;

}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;

}
.header-logo {
  width: 15%;
 
}
header a {
  text-decoration: none;
  font-size: 1.4em;
  /*text-transform: uppercase;*/
  color: black;
  padding: 0px 12px;
  /*font-family: pt serif;*/
  line-height: 60px;
}

header a:hover {
  color: #FCF7E8;
}

#menu {
  max-width: 1200px;

  list-style-type: none;
  padding: 0;

  text-align: left;
}

.hidden {
  display: none;
  transform: translateX(-100%);
}

/********* burger *********/

#burgermenu {
  display: inline-block;
  max-width: 1200px;
  margin: 5px 10px;
}

#burgermenu img {
  height: 25px;
  display: flex;
}

nav {
  position: absolute;
  align-items: center;
  z-index: 9999;
  background-color: #FCF7E8;
  opacity: 90%;
  width: 100vw;
}

nav li:first-child {
  padding-top: 20px;
}

nav li:last-child {
  padding-bottom: 20px;
}

/********* mediaquery (desktop) *********/

@media (min-width: 900px) {
  #burgermenu {
    display: none;
  }
#header{
  justify-content: center;
  margin-top: -5%;

}
  #menu {
display: flex;
text-align: right;
max-width: 100%;
justify-content: flex-end;
align-items: center;
margin-bottom: 5%;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu.hidden ul li :first-child {
    align-self: flex-start;
  }

.header-logo {
    margin-bottom: -15%;
    margin-top: 6%;}
  nav {
    display: flex;
    justify-content: flex-end;
    position: static;
    background-color: #FCF7E8;
    opacity: 100%;
    width: 100%;
  }

  nav li:first-child {
    padding-top: 0;
    padding-right: 1.5rem;
  }

  nav li:last-child {
    padding-bottom: 0;
  }

  header a {
    font-size: 1.5em;
    line-height: normal;
  }
}

/******** HEADER - SLUT **********
**********************************
**********************************
**********************************
